{% extends '../base/base.html' %}

{% block content %}

<div class="row">
    <!-- left side bar -->
    <!-- load left side bar -->
     {% include './leftsidebar.html' %}

     <!-- Right side bar -->
      <div class="col-md-9">
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">
                        <h6 class="text-dark">All Categories</h6>
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="cart-title text-center">{{ category_counts }}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">
                        <h6 class="text-dark">All Posts</h6>
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="cart-title text-center">{{ blogs_counts }}</h5>
                    </div>
                </div>
            </div>

        </div>
      </div>
</div>


{% endblock %}